@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Pt Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.modified-ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

/* Header */
.page-header {
  background-color: inherit;

}

.navigation {
  display: flex;
  padding-right: 70px;
  padding-left: 70px;
}

.logo-link {
  display: block;
}

.navigation-list, .navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navigation-list {
  width: 339px;
  margin-left: 30px;
}

.navigation-user {
  max-width: 268px;
  margin-left: auto;
}

.navigation-link, .navigation-user-link {
  display: block;
  color: #333333;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link {
  padding: 20px 16px;
}

.fav-count {
  background-color: #7DB54F;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.button {
  background-color: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Pt Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 34px;
  text-decoration: none;
}

/* Main page */
.main-container {
  flex-grow: 1;
}

.welcome {
  background-color:#8d909a;
  background-image: url("../img/main/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.reasons-header, .services-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px 0;
  margin: 0 auto;
  width: 700px;
}

.reasons-title, .services-title, .search-title {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.reasons-list, .services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.reasons-list {
  flex-wrap: wrap;
}

.reasons-item-block {
  display: flex;
  padding: 0;
  width: 1200px;
  color: #ffffff;
  background-color: #82B3D3;
}

.reasons-item {
  width: 400px;
  padding: 112.5px 85px;
  box-sizing: border-box;
}

.reasons-description-wrapper {
  padding: 101px 85px;
}

.reasons-item-title, .services-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  width: 175px;
  margin: 0 auto;
}

.reasons-description, .services-description, .search-description {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
}

.reasons-description {
  margin-top: 25px;
}

.services-description, .search-description {
  margin-top: 20px;
}

.reasons-image-wrapper {
  overflow: hidden;
}

.reasons-img {
  display: block;
  height: 100%;
}

.reasons-bridge {
  flex-direction: row-reverse;
}

.reasons-area, .reasons-tourist {
  background-color: #83B3D31F;
}

.reasons-road {
  background-color: #83B3D333;
}

.reasons-item-description, .services-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.reasons-item-description {
  margin-top: 62px;
}

.services-item-description {
  margin-top: 30px;
}

.services-header {
  padding: 64px 0;
  width: 505px;
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 81px 85px;
}

.item-food {
  background-color: transparent;
}

.search {
  width: 592px;
  text-align: center;
  padding: 96px 304px;
}

.search-description {
  margin-bottom: 54px;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
}

/* Footer */
.page-footer {
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
}

.footer-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-subscription {
  background-color:#756157;
  background-image: url("../img/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.footer-subscription-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 410px;
}

.footer-subscription-description {
  margin: 20px auto 54px;
  font-weight: 400;
  width: 475px;
}

.footer-subscription-form {
  display: flex;
  justify-content: center;
}

.footer-subscription-email {
  width: 100%;
  padding-left: 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #00000099;
  background-color: #f2f2f2;
}

.footer-subscription-button {
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  min-width: 232px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
  box-sizing: border-box;
}

.footer-social-list {
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0;
}

.footer-social-item-vk {
  padding: 11px 11.67px 13px;
}

.footer-social-item-telegram {
  padding: 12px 14.67px 12.9px;
}

.footer-social-item-youtube {
  padding: 12.3px 12.67px 11.5px 12.5px;
}

.footer-company-phone {
  width: 720px;
  color: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.footer-company-link {
  max-width: 115px;
  padding-top: 5px;
}

/* Catalog */
.filter-background {
  color: #ffffff;
  background-image: url(../img/catalog/catalog-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs-item-main {
  background-image: url("../img/catalog/main-icon.svg");
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.housing-filter {
  display: flex;
}

.filter-facilities, .filter-housing-type {
  width: 151px;
  margin-left: 0;
}

.filter-facilities {
  margin-right: 70px;
}

.filter-housing-type {
  margin-right: 140px;
}

.filter-price {
  width: 288px;
  margin-left: 0;
  margin-right: 70px;
}

.filter-buttons {
  max-width: 191px;
  margin: 56px 0 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.facilities-title, .housing-type-title, .price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-label {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

/* Removing arrows in the inputs */
.price-range::-webkit-outer-spin-button, .price-range::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-range {
  appearance: textfield;
  -moz-appearance: textfield;
}

.price-range-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.price-setter {
  background-color: #ffffff;
  border-radius: 5px;
}

.button-add {
  background-color: #82B3D3;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  margin-bottom: 32px;
  cursor: pointer;
}

.button-reset {
  padding-left: 57.5px;
  padding-right: 57.5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Catalog list */
.results-page {
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
}

.housing-list-header {
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
}

.housing-list-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: start;
  width: 340px;
  margin: 0;
  padding: 0;
  margin-right: 192px;
}

.housing-list-sort, .item-type, .item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.housing-list-sort {
  width: 292px;
}

.housing-list-view {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-left: auto;
}

.housing-list-items {
  margin: 0 auto;
  padding: 0;
}

.housing-item {
  /* 340 + 2px for border */
  width: 342px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.item-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: block;
}

.item-image {
  display: block;
  object-fit: contain;
}

.item-title {
  margin-top: 16px;
  margin-bottom: 0;
  text-align: left;
  font-size: inherit;
}

.item-type-price {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.item-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 16px;
}

.button-more {
  display: inline-block;
  max-width: 140px;
  margin-right: 20px;
  padding-left: 26px;
  padding-right: 26px;
}

.button-favorite {
  background-color: #82B3D3;
  display: inline-block;
  max-width: 140px;
  padding-left: 20px;
  padding-right: 20px;
}

.button-selected {
  background-color: #7DB54F;
  padding-left: 18px;
  padding-right: 18px;
}

.item-grades {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

.item-grade {
  background-color: #F2F2F2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
}

.pagination {
  margin-top: 80px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 23px;
  background-color: #82B3D3;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link:last-child {
  padding: 11px 16px;
}

.pagination-prev {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-next {
  color: #000000;
  background-color: transparent;
}
