@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Pt Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.modified-ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

/* Header */
.page-header {
  background-color: inherit;

}

.navigation {
  display: flex;
  padding-right: 70px;
  padding-left: 70px;
}

.logo-link {
  position: absolute;
}

.navigation-list, .navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-list {
  width: 340px;
  margin-left: 168px;
}

.navigation-user {
  max-width: 268px;
  margin-left: auto;
}

.navigation-link, .navigation-user-link {
  display: block;
  color: #333333;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link {
  padding: 20px 16px;
}

.navigation-link:hover {
  color: #68A2CA;
}

.navigation-link:focus {
  outline-color: #81B3D3;
}

.navigation-link:active {
  color: #7c97a8;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  left: 17px;
  bottom: -1px;
  width: calc(100% - 34px);
  border-bottom: 2px solid #756257;
  content: "";
}

.navigation-user-link:hover {
  opacity: 0.5;
}

.navigation-user-link:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation-user-link:active {
  background-color: #9ecae8;
}

.link-search {
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 20px;
  width: 20px;
  padding: 22px 12px;
}

.link-fav {
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 20px;
  width: 20px;
  margin-right: 20px;
  padding: 22px 12px;
}

.fav-count {
  display: block;
  position: relative;
  bottom: 10px;
  left: 9px;
  background-color: #7DB54F;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  padding: 4px;
  box-sizing: border-box;
  max-width: 25px;
  max-height: 25px;

}

.button {
  background-color: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Pt Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 34px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
  opacity: 1;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Main page */
.main-container {
  flex-grow: 1;
}

.welcome {
  padding-top: 51px;
  padding-bottom: 83px;
  background-color:#8d909a;
  background-image: url("../img/main/vector.svg"), url("../img/main/index-background.jpg");
  background-position: center bottom, center;
  background-size:  100% auto, cover;
  background-repeat: no-repeat, no-repeat;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.reasons-header, .services-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 700px;
}

.reasons-header {
  padding: 69px 0 90px;
}

.reasons-title, .services-title, .search-title {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.reasons-list, .services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.reasons-list {
  flex-wrap: wrap;
}

.reasons-item-block {
  display: flex;
  padding: 0;
  width: 1200px;
  color: #ffffff;
  background-color: #82B3D3;
}

.reasons-item {
  width: 400px;
  padding: 112.5px 85px;
  box-sizing: border-box;
}

.reasons-description-wrapper {
  padding: 101px 85px;
}

.reasons-item-title, .services-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  width: 172px;
  margin: 0 auto;
  position: relative;
}

.reasons-item-title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  bottom: -31px;
  right: 56px;
}

.white-item-title::after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.reasons-description, .services-description, .search-description {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
}

.reasons-description {
  margin-top: 25px;
}

.services-description, .search-description {
  margin-top: 20px;
}

.reasons-image-wrapper {
  overflow: hidden;
}

.reasons-img {
  display: block;
  height: 100%;
}

.reasons-bridge {
  flex-direction: row-reverse;
}

.reasons-area, .reasons-tourist {
  background-color: #83B3D31F;
}

.reasons-road {
  background-color: #83B3D333;
}

.reasons-item-description, .services-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.reasons-item-description {
  margin-top: 62px;
}

.services-item-description {
  margin-top: 30px;
}

.housing-description {
  padding: 0 25px;
  box-sizing: border-box;
}

.services-header {
  padding: 64px 0;
  width: 505px;
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 81px 85px;
}

.services-item-title {
  padding-top: 102px;
}

.services-item-title::before {
  position: absolute;
  top: 0;
}

.title-housing::before {
  content: url("../img/main/housing.svg");
  left: 48px;
}

.title-food::before {
  content: url("../img/main/food.svg");
  left: 49px;
}

.title-souvenir::before {
  content: url("../img/main/souvenir.svg");
  left: 53px;
  top: -2px;
}

.item-food {
  background-color: transparent;
}

.search {
  width: 592px;
  text-align: center;
  padding: 96px 304px;
}

.search-description {
  margin-bottom: 54px;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
}

/* Footer */
.page-footer {
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
}

.footer-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-subscription {
  background-color:#756157;
  background-image: url("../img/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.footer-subscription-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 410px;
}

.footer-subscription-description {
  margin: 20px auto 54px;
  font-weight: 400;
  width: 475px;
}

.footer-subscription-form {
  display: flex;
  justify-content: center;
}

.footer-subscription-email {
  width: 100%;
  padding-left: 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #00000099;
  background-color: #f2f2f2;
}

.footer-subscription-email:hover {
  background-color: #E6E6E6;
}

.footer-subscription-email:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.footer-subscription-email:not(:placeholder-shown) {
  background: #F2F2F2;
  outline: 2px solid #000000;
}

.footer-subscription-email:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}


.footer-subscription-button {
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  min-width: 232px;
}

.footer-subscription-button:hover {
  background-color: #68A2CA;
}

.footer-subscription-button:focus {
  outline: none;
  background-color: #68A2CA;
}

.footer-subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
  box-sizing: border-box;
}

.footer-social-list {
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0;
}

.footer-social-item-vk {
  padding: 11px 11.67px 13px;
}

.footer-social-item-telegram {
  padding: 12px 14.67px 12.9px;
}

.footer-social-item-youtube {
  padding: 12.3px 12.67px 11.5px 12.5px;
}

.social-icon {
  fill: #83B3D3;
}

.social-icon:hover, .social-icon:focus {
  fill: #68A2CA;
}

.social-icon:focus {
  outline: none;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-company-phone {
  width: 720px;
  color: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.footer-company-phone:hover {
  color: #756157;
}

.footer-company-phone:focus {
  color: #756157;
  outline: none;
}

.footer-company-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-company-link {
  max-width: 115px;
  padding-top: 5px;
}

.company-icon {
  fill: #000000;
}

.company-icon:hover {
  fill: #756157;
}

.company-icon:focus {
  fill: #756157;
  outline: none;
}

.company-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* Catalog */
.catalog-inner {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.inner-filter {
  color: #ffffff;
  background-color: #aea1a1;
  background-image: url(../img/catalog/catalog-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  padding: 35px 70px 70px;
}

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px;
  padding: 0;
}

.breadcrumbs {
  margin: 0 0 40px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 29px;
}

.breadcrumbs-link {
  color: #ffffff;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumbs-item:not(:first-child) .breadcrumbs-link::before {
  position: absolute;
  bottom: 5px;
  left: -16px;
  content: "";
  width: 6.39px;
  height: 9.94px;
  background-image: url("../img/catalog/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: initial;
}


.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.link-main {
  background-image: url("../img/catalog/main-icon.svg");
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.housing-filter {
  display: flex;
  flex-wrap: wrap;
}

.filter-facilities {
  width: 151px;
  margin-right: 70px;
  margin-left: 0;
  padding: 0;
  border: none;
}

.filter-housing-type {
  width: 151px;
  margin-left: 0;
  margin-right: 140px;
  padding: 0;
  border: none;
}

.filter-price {
  width: 288px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-buttons {
  max-width: 191px;
  margin: 56px 0 0 auto;
  padding: 0;
  border: none;
}

.facilities-title, .housing-type-title, .price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
}

.filter-list {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-control {
  padding-left: 36px;
  position: relative;
}

.control-selected {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 19px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}

.control-label:hover {
  opacity: 0.6;
}

.control-label:focus {
  outline: none;
}

.control-label:active {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-selected::before {
  position: absolute;
  content: "";
  background-image: url("../img/catalog/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 25%;
  left: 25%;
  height: 10px;
  width: 12px;
}

.control-input[type="checkbox"]:hover + .control-selected {
  opacity: 0.6;
  border-radius: 4px;
}

.control-input[type="checkbox"]:focus + .control-selected {
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:active + .control-selected {
  opacity: 0.3;
}

.control-input[type="radio"] + .control-selected {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-selected::before {
  position: absolute;
  content: "";
  background-color: #3f5e72;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  height: 10px;
  width: 10px;
}

.control-input[type="radio"]:hover + .control-selected {
  opacity: 0.6;
}

.control-input[type="radio"]:focus + .control-selected {
  outline: 3px solid #83b3d3;
  border-radius: 18px;
}

.control-input[type="radio"]:active + .control-selected {
  opacity: 0.3;
}

.price-inputs {
  display: flex;
  margin-bottom: 48px;
  position: relative;
  gap: 3px;
}

.price-range-label-min::after {
  position: absolute;
  content: "от";
  top: 10px;
  left: 107px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.price-range-label-max::after {
  position: absolute;
  content: "до";
  top: 10px;
  right: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

/* Removing arrows in the inputs */
.price-range-min::-webkit-outer-spin-button, .price-range-min::-webkit-inner-spin-button,
.price-range-max::-webkit-outer-spin-button, .price-range-max::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-range-min, .price-range-max {
  appearance: textfield;
  -moz-appearance: textfield;
  border: none;
  width: 143px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  padding: 12px 40px 12px 20px;
}

.price-range-min {
  border-radius: 4px 0 0 4px;
}

.price-range-min:hover, .price-range-max:hover {
  background-color: #E6E6E6;
}

.price-range-min:focus, .price-range-max:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.price-range-min:focus:where(:not(:placeholder-shown)), .price-range-max:focus:where(:not(:placeholder-shown)) {
  background: #F2F2F2;
  outline: 2px solid #000000;
}

.price-range-min:disabled, .price-range-max:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.price-range-max {
  border-radius: 0 4px 4px 0;
}

.price-line {
  margin-bottom: 16px;
  background-color: #888888;
  height: 4px;
  position: relative;
}

.price-scale {
  position: absolute;
  left: 0;
  width: 208px;
  height: 4px;
  margin-bottom: 16px;
  background-color: #ffffff;
}

.price-setter {
  background-color: #ffffff;
  border: 5px solid #ffffff;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 22%;
  cursor: pointer;
}

.price-setter:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.price-setter:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.price-setter:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.set-min {
  top: -8px;
}

.set-max {
  right: -19px;
  top: -8px;
}

.button-add {
  background-color: #82B3D3;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  margin-bottom: 32px;
}

.button-add:hover {
  background-color: #68A2CA;
}

.button-add:focus {
  outline: none;
  background-color: #68A2CA;
}

.button-add:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-add:disabled {
  background-color: #E5E5E5;
}

.button-reset {
  padding-left: 57.5px;
  padding-right: 57.5px;
  border: none;
  background-color: transparent;
}

.button-reset:hover {
  opacity: 0.6;
  background-color: transparent;
}

.button-reset:focus {
  border: none;
  outline: 3px solid #83B3D3;
  background-color: transparent;
}

.button-reset:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-reset:disabled {
  opacity: 0.1;
}


/* Catalog list */
.results-page {
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
}

.housing-list-header {
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
  align-items: center;
}

.housing-list-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: start;
  width: 340px;
  margin: 0;
  padding: 0;
  margin-right: 200px;
}

.housing-list-sort, .item-type, .item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.housing-list-sort {
  width: 292px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-image: url("../img/catalog/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-color: #ffffff;
  color: #333333;
  appearance: none;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  padding: 12px 40px 12px 20px;
}

.housing-list-sort:hover {
  border-color: #68a2ca;
}

.housing-list-sort:focus {
  border-color: #68a2ca;
  outline: none;
}

.housing-list-sort:active {
  border-color: #3f5e72;
}

.housing-list-sort:disabled {
  color: #d9d9d9;
  border: 2px solid #0000004d;
  opacity: 0.3;
}

.housing-list-view {
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 9px;
  width: 170px;
  font-size: 18px;
  line-height: 21px;
}

.view-toggle {
  display: block;
  min-height: 14px;
  min-width: 16px;
  padding: 11px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-toggle-selected {
  border-color: #000000;
}

.view-toggle:hover {
  border: 2px solid #000;
}

.view-toggle:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.view-toggle:active {
  border: 2px solid #000;
}

.housing-list-items {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
}

.housing-item {
  width: 340px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.item-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: block;
}

.item-image {
  display: block;
  object-fit: contain;
}

.item-title {
  margin-top: 16px;
  margin-bottom: 0;
  text-align: left;
  font-size: inherit;
}

.item-type-price {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.item-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 16px;
}

.button-more {
  display: inline-block;
  max-width: 140px;
  padding-left: 26px;
  padding-right: 26px;
}

.button-favorite {
  background-color: #82B3D3;
  display: inline-block;
  max-width: 140px;
  padding-left: 20px;
  padding-right: 20px;
}

.button-favorite:hover {
  background-color: #68A2CA;
}

.button-favorite:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-selected {
  background-color: #7DB54F;
  padding-left: 18px;
  padding-right: 18px;
}

.button-selected:hover {
  background-color: #6C9E42;
}

.button-selected:focus {
  background-color: #6C9E42;
  outline: none;
}

.item-grades {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

.stars {
  background: url("../img/catalog/star.svg") space 0 0;
  height: 17px;
  margin: 0;
}

.stars-four {
  width: 89px;
}

.stars-three {
  width: 66px;
}

.stars-two {
  width: 40px;
}

.item-grade {
  background-color: #F2F2F2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
}

.pagination {
  margin-top: 80px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 23px;
  background-color: #82B3D3;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link:last-child {
  padding: 11px 16px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.pagination-prev {
  color: #000000;
  background-color: #F2F2F2;
  cursor: default;
}

.pagination-prev:hover {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-prev:focus {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-prev:active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-next {
  color: #000000;
  background-color: transparent;
}

.pagination-next:hover {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-next:focus {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-next:active {
  background-color: #f2f2f2;
  color: #000000;
}

/* Modal container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}

.modal-search {
  width: 717px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgb(0 0 0 / 15%);
  border-radius: 30px;
  box-sizing: border-box;
  margin: auto;
  padding: 64px 70px;
}

.modal-container-open {
  display: flex;
}

.search-content {
  color: #000000;
}

.search-form-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 577px;
  margin: 64px 0 0;
  box-sizing: border-box;
}

.date-form {
  display: flex;
  align-items: baseline;
  margin-bottom: 23px;
  justify-content: space-between;
}

.date-label {
  width: 125px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.date-input-container {
  width: 440px;
}

.date-field {
  background-color: #F2F2F2;
  background-image: url("../img/main/modal/date.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  margin: 0;
  padding: 12px 0 12px 20px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 100%;
  border-radius: 4px;
}

.date-field:hover, .counter-input:hover {
  background-color: #E6E6E6;
}

.date-field:focus, .counter-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.date-field:focus:where(:not(:placeholder-shown)),
.counter-input:focus:where(:not(:placeholder-shown)) {
  outline: 2px solid #000000;
}

.date-field-error {
  display: block;
  margin-top: 4px;
  margin-left: 21px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.error-red {
  color: rgba(255, 87, 87, 1);
}

.person-number {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  align-items: center;
  position: relative;
}

.number-adults-label {
  text-align: center;
  padding: 0;
  margin-right: 46px;
  width: 91px;
}

.number-kids-label {
  text-align: center;
  padding: 0;
  margin-right: 83px;
  width: 49px;
}

.kids-tooltip {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 158px;
  bottom: 8px;
  margin: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

.kids-tooltip:hover .tooltip-icon {
  fill: #3F5E72;
}

.kids-tooltip:focus {
  outline: none;
}

.tooltip-icon {
  fill: #83B3D3;
}

.kids-tooltip:focus .tooltip-icon {
  fill: #3F5E72;
}

.kids-tooltip:hover .tooltip-text,
.kids-tooltip:focus .tooltip-text {
  display: block;
}

.tooltip-text::before {
  position: absolute;
  top: -15px;
  left: 119px;
  content: url("../img/main/modal/triangle.svg");
  width: 9px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center 0;
}

.tooltip-text {
  display: none;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: "Pt Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  padding: 19px 20px 23px 21px;
  border-radius: 10px;
  width: 216px;
  position: absolute;
  left: 12px;
  top: 42px;
  transform: translateX(-50%);
}

.counter-container {
  display: flex;
  width: 110px;
}

.counter-container:not(:last-child) {
  margin-right: 88px;
}

.counter-button {
  display: block;
  width: 40px;
  height: 48px;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0;
}

.counter-button:focus {
  z-index: 1;
}

.button-minus {
  background-image: url("../img/main/modal/minus.svg");
  border-radius: 4px 0 0 4px;
}

.button-minus:hover {
  background-image: url("../img/main/modal/minus-dark.svg");
}

.button-minus:focus {
  background-image: url("../img/main/modal/minus-dark.svg"), url(../img/main/modal/outline-for-counter.svg);
  outline: none;
}

.button-minus:active {
  background-image: url("../img/main/modal/minus.svg");
}

.button-plus {
  background-image: url("../img/main/modal/plus.svg");
  border-radius: 0 4px 4px 0;
}

.button-plus:hover {
  background-image: url("../img/main/modal/plus-dark.svg");
}

.button-plus:focus {
  background-image: url("../img/main/modal/plus-dark.svg"), url(../img/main/modal/outline-for-counter.svg);
  outline: none;
}

.button-plus:active {
  background-image: url("../img/main/modal/plus-dark.svg");
}

.counter-input::-webkit-outer-spin-button, .counter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.counter-input {
  appearance: textfield;
  -moz-appearance: textfield;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  width: 31px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border: none;
  padding: 0 10px;
  cursor: pointer;
}

.counter-input:focus {
  z-index: 1;
}

.search-button {
  background-color: #82B3D3;
  border: none;
  padding: 18px 256.5px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
}

.search-button:hover {
  background-color: #68A2CA;
}

.search-button:focus {
  outline: none;
  background-color: #68A2CA;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  background-color: #E5E5E5;
}

.modal-close-button {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 64px;
  right: 53px;
  padding: 26px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  outline: none;
}

.modal-close-button:active .close-button-svg  {
  fill:#000000;
  opacity: 0.3;
}

.close-button-svg {
  position: absolute;
  fill: #000000;
  top: 19px;
  right: 19px;
}
